{% load static %}

<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<header class="mdl-layout__header">
<div class="mdl-layout__header-row">
<!-- Title -->
<span class="mdl-layout-title">智创未来制造有限公司</span>
<!-- Add spacer, to align navigation to the right -->
<div class="mdl-layout-spacer"></div>
<!-- Navigation. We hide it in small screens. -->
<nav class="mdl-navigation mdl-layout--large-screen-only">
{% if user.is_authenticated %}
<!--<a class="mdl-navigation__link" href="{% url 'user_list' %}">员工</a>-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">员工<span class="caret"></span></a>-->
<!-- Employee Dropdown Menu -->
    <a id="dropdown-menu-btn" class="mdl-navigation__link mdl-js-button">员工</a>

        <!-- 下拉菜单 -->
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="dropdown-menu-btn">
          <li class="mdl-menu__item">Option 1</li>
          <li class="mdl-menu__item">Option 2</li>
          <li class="mdl-menu__item">Option 3</li>
        </ul>
<!---->
<a class="mdl-navigation__link" href="{% url 'attendence_lists' %}">考勤</a>
<a class="mdl-navigation__link" href="{% url 'salary_lists' %}">工资</a>
<a class="mdl-navigation__link" href="{% url 'order_list' %}">订单</a>
<a class="mdl-navigation__link" href="{% url 'product_diary' %}">生产日报</a>
<a class="mdl-navigation__link" href="{% url 'user_info' %}">个人资料</a>
<a class="mdl-navigation__link" href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a>
{% else %}
<a class="mdl-navigation__link" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
{% endif %}
</nav>
</div>
</header>
<div class="mdl-layout__drawer">
<span class="mdl-layout-title">菜单</span>
<nav class="mdl-navigation">
<a class="mdl-navigation__link" href="{% url 'home' %}">首页</a>
{% if user.is_authenticated %}
<!-- Insert dropdowns or other elements here -->
{% endif %}
</nav>
</div>
<main class="mdl-layout__content">
<div class="page-content">
{% block content %}
<!-- Your content goes here -->
{% endblock %}
</div>
</main>
</div>

<script src="{% static 'jquery-1.12.4.min.js' %}"></script>
</body>

</html>

